/WpfApp1/.idea/.idea.MathsInterpreter/.idea/.gitignore
/WpfApp1/.idea/.idea.MathsInterpreter/.idea/.name
/WpfApp1/obj/Debug/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/Lexer/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.fs
/WpfApp1/obj/Debug/net5.0-windows/App.g.cs
/WpfApp1/obj/Debug/net5.0-windows/App.g.i.cs
/WpfApp1/.idea/.idea.MathsInterpreter/.idea/encodings.xml
/Lexer/bin/Debug/net5.0/FSharp.Core.dll
/Lexer/bin/Debug/net5.0/cs/FSharp.Core.resources.dll
/Lexer/bin/Debug/net5.0/de/FSharp.Core.resources.dll
/Lexer/bin/Debug/net5.0/es/FSharp.Core.resources.dll
/Lexer/bin/Debug/net5.0/fr/FSharp.Core.resources.dll
/Lexer/bin/Debug/net5.0/it/FSharp.Core.resources.dll
/Lexer/bin/Debug/net5.0/ja/FSharp.Core.resources.dll
/Lexer/bin/Debug/net5.0/ko/FSharp.Core.resources.dll
/Lexer/bin/Debug/net5.0/pl/FSharp.Core.resources.dll
/Lexer/bin/Debug/net5.0/pt-BR/FSharp.Core.resources.dll
/Lexer/bin/Debug/net5.0/ru/FSharp.Core.resources.dll
/Lexer/bin/Debug/net5.0/tr/FSharp.Core.resources.dll
/Lexer/bin/Debug/net5.0/zh-Hans/FSharp.Core.resources.dll
/Lexer/bin/Debug/net5.0/zh-Hant/FSharp.Core.resources.dll
/WpfApp1/.idea/.idea.MathsInterpreter/.idea/indexLayout.xml
/Lexer/obj/Debug/net5.0/Lexer.AssemblyInfo.fs
/Lexer/obj/Debug/net5.0/Lexer.AssemblyInfoInputs.cache
/Lexer/obj/Debug/net5.0/Lexer.assets.cache
/Lexer/bin/Debug/net5.0/Lexer.deps.json
/Lexer/bin/Debug/net5.0/Lexer.dll
/Lexer/bin/Debug/net5.0/Lexer.exe
/Lexer/obj/Debug/net5.0/Lexer.fsproj.AssemblyReference.cache
/Lexer/obj/Debug/net5.0/Lexer.fsproj.CoreCompileInputs.cache
/Lexer/obj/Lexer.fsproj.nuget.dgspec.json
/Lexer/obj/Lexer.fsproj.nuget.g.props
/Lexer/obj/Lexer.fsproj.nuget.g.targets
/Lexer/bin/Debug/net5.0/Lexer.pdb
/Lexer/bin/Debug/net5.0/Lexer.runtimeconfig.dev.json
/Lexer/bin/Debug/net5.0/Lexer.runtimeconfig.json
/WpfApp1/obj/Debug/net5.0-windows/MainWindow.g.cs
/WpfApp1/obj/Debug/net5.0-windows/MainWindow.g.i.cs
/Lexer/obj/project.assets.json
/WpfApp1/obj/project.assets.json
/Lexer/obj/project.nuget.cache
/WpfApp1/obj/project.nuget.cache
/Lexer/obj/project.packagespec.json
/WpfApp1/obj/project.packagespec.json
/Lexer/obj/rider.project.restore.info
/WpfApp1/obj/rider.project.restore.info
/WpfApp1/.idea/.idea.MathsInterpreter/.idea/vcs.xml
/WpfApp1/obj/Debug/net5.0-windows/WpfApp1.AssemblyInfo.cs
/WpfApp1/obj/Debug/net5.0-windows/WpfApp1.AssemblyInfoInputs.cache
/WpfApp1/obj/Debug/net5.0-windows/WpfApp1.assets.cache
/WpfApp1/obj/Debug/net5.0-windows/WpfApp1.csproj.AssemblyReference.cache
/WpfApp1/obj/WpfApp1.csproj.nuget.dgspec.json
/WpfApp1/obj/WpfApp1.csproj.nuget.g.props
/WpfApp1/obj/WpfApp1.csproj.nuget.g.targets
/WpfApp1/obj/Debug/net5.0-windows/WpfApp1.GeneratedMSBuildEditorConfig.editorconfig
/WpfApp1/obj/Debug/net5.0-windows/WpfApp1_MarkupCompile.cache
/WpfApp1/obj/Debug/net5.0-windows/WpfApp1_MarkupCompile.lref
